__pycache__/apple.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/game.cpython-313.pyc
__pycache__/score_manager.cpython-313.pyc
__pycache__/snake.cpython-313.pyc
__pycache__/sound_manager.cpython-313.pyc
